# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Logs
*.log
/tmp/

# Config & Backups
*.json
!examples/*.json
last_fw_config.json

# Environment
.env
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
